<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ftpServer" value ="ftp://aaa.bbb.com"/>
    <add key="ftpUsername" value ="username"/>
    <add key="ftpPassword" value ="password"/>
  </appSettings>
</configuration>